<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		
		<!-- Configuration -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- JDBC e Connection -->
		<property name="connection.autocommit">false</property>
		<property name="connection.url">jdbc:hsqldb:file:C:/hsqldb/DeploymentMonitorDB</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.username">jarvis</property>
		<property name="connection.password">ironman</property>
		
		<!-- Cache -->
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		
		<!-- Miscellaneous -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping -->
		<mapping class="br.com.jarvis.model.Atividade" />
 		<mapping class="br.com.jarvis.model.SolicitacaoMudanca" />
		<mapping class="br.com.jarvis.model.SolicitacaoReintegrate" />
		
	</session-factory>
</hibernate-configuration>